*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

code, pre, kbd, samp {
  font-family: var(--font-jetbrains-mono, 'JetBrains Mono', 'Courier New', monospace);
}
